Builds/
build/
ipch/
backup/
Debug/
Release/
zip/XZip_demo
VisualStudio/RCa08720
VisualStudio/ipch/
VisualStudio/res/ribbon.mfcribbon-ms
VisualStudio/res/work/
*.orig
*.pdb
*.aps
*.sdf
*.suo
*.tia
*.fira
*.user
*.lsz
*.scz
*.opensdf
*.tat
*.flt
*.dmp
*.flt
*.db
*.psess
*.rcnt
*.zip
*.rar
*.sln
*.vcxproj*
local.cmake
